*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: rgb(244, 85, 5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main.main-section
{
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.959);
    border-radius: 10px;
    box-shadow:0px 0px 20px 5px rgb(37, 33, 33);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* position: absolute;
    top: 10%;
    right: 35%; */
}
h1.text-to-speech
{
    font-size:30px;
}
span{
    color: orange;
}

.txt-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
p.enter-text-para
{
    font-weight: 900;
    font-size: 20px;
    align-self: flex-start;
}
textarea{
    background-color: rgba(252, 244, 244, 0.959);
    padding: 10%;
    border: none;
    border-radius: 10px;
    box-shadow:2px 5px 10px 1px rgb(82, 80, 80);
}
#text
{
    height:5rem;
    width: 15rem;
    
}
p.select-voice-para
{
    font-weight: 900;
    font-size: 20px; 
    margin-bottom: 10px;
}
select#voice-select
{
    height:2rem;
    width: 15rem;
    cursor: pointer;
    background-color: rgba(252, 244, 244, 0.959);
    box-shadow:2px 5px 5px 2px rgb(82, 80, 80);
    border: none;
    border-radius: 10px;
    padding: 20px 10px;
}
button{
    padding: 12px 80px;
    background-color: rgba(255, 124, 1, 0.87);
    box-shadow:2px 5px 5px 2px rgb(92, 89, 89);
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
button:hover
{
    background-color: rgb(194, 191, 14);
}
button:active
{
    background-color: black;
}
@media (max-width: 767px) {
    body{
        background-color: transparent;
    }
    main.main-section
    {
      width: 80vw;
      height: 80vh;
      background-color: rgb(192, 241, 241);
      padding: 10px;
    }
    h1{
        text-align: center;
    }
    button{
        margin-block: 10px;
    }
  }